[submodule "Dependencies/HappyMath"]
	path = Dependencies/HappyMath
	url = https://github.com/spencerparkin/HappyMath
[submodule "Dependencies/Imzadi"]
	path = Dependencies/Imzadi
	url = https://github.com/spencerparkin/Imzadi.git
